
.place-details-form{
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgb(226, 226, 226);
    padding: 20px;
    .text-label, .radio-label, .checkbox-label, .switch-label, .phone-field-label{
        color:#FF6250;
    }
    .input-box{
        border-bottom: 1px solid #FF6250;
    }

    .submit-btn{
        background-color: #FF6250 !important;
    }

}








