.reg-form{
    margin-top: 100px;
    padding: 24px 32px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #9c4141;
    .text-label, .radio-label, .checkbox-label, .switch-label, .phone-field-label{
        color: blue
    }


    .helper-text{
        color: rgb(154, 25, 115);
    }
    .input-box{
        border-bottom: 1px solid rgb(198, 33, 33);
        padding: 4px 4px;
        margin-top: 6px;
    }
    .phone-field-select{
        border-bottom: 1px solid rgb(198, 33, 33);
    }
    .phone-field-input{
        border-bottom: 1px solid rgb(198, 33, 33);
    }

    .fName, .jobTitle{
        width: 90%;
    }
    .submit-btn{
        background-color: rgb(60, 130, 243) !important;
    }

}

.radio-container{
    margin-top: 5px;
    .radio-name{
        margin-top: 3px;
    }
}
.checkbox-container{
    margin-top: 5px;
}








