.reg-form{
    width: 80% !important;
    margin-top: 100px;
    // border: 1px solid black;
    padding: 24px 32px;
    margin-left: 90px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #9c4141;

    .text-label{
        color: blue
    }

    .radio-label{
        color: blue
    }
    .checkbox-label{
        color: blue
    }
    .switch-label{
        color: blue
    }
    .phone-field-label{
        color: blue
    }

    .helper-text{
        color: rgb(154, 25, 115);
    }
    .input-box{
        border-bottom: 1px solid rgb(198, 33, 33);
        padding: 4px 4px;
        margin-top: 6px;
    }
    .phone-field-select{
        border-bottom: 1px solid rgb(198, 33, 33);
    }
    .phone-field-input{
        border-bottom: 1px solid rgb(198, 33, 33);
    }

    .fName{
        width: 90%;
    }
  
    .jobTitle{
        width: 90%;
    }
 
    .submit-btn{
        background-color: green !important;
    }

}

.radio-container{
    margin-top: 5px;
    .radio-name{
        margin-top: 3px;
    }
}
.checkbox-container{
    margin-top: 5px;
}








