#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  // text-align: center;
}
body{
  background-color: #ccc;
}
.App{
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  padding: 2rem;
}