@import "../Styles/variables";
@import "../Styles/mixins";
@import "../Styles/extends";

.phone-field{
    @include componentField;
}
.phonefield-label{
    @include componentLabel;   
}

.phonefield-container{
    display: flex; 
}
.phone-field-box{
    width: auto
}
.phonefield-select{
    @extend %input-select-box;
    height: 30px;
}
.phonefield-input{
    @extend %input-select-box;
    margin-left: 5px;
    height: 30px;;
}

